<h1>List of games in the database</h1>

<div ng-controller="GameCtrl">
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Year Published</th>
      <th>Min Players</th>
      <th>Max Players</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="game in games">
      <td>{{game.name}}</td>
      <td>{{game.year_published}}</td>
      <td>{{game.minimum_players}}</td>
      <td>{{game.maximum_players}}</td>
      <td><button ng-click="deleteGame($index)">remove</button></td>
    </tr>
    </tbody>
  </table>


  <input type="text" ng-model="newGame.name" placeholder="Name...">
  <input type="text" ng-model="newGame.year_published" placeholder="Year Published...">
  <input type="text" ng-model="newGame.minimum_players" placeholder="Minimum Players...">
  <input type="text" ng-model="newGame.maximum_players" placeholder="Maximum Players...">
  <button ng-click="createGame()">Add New Game</button>
</div>
