<h1>Play this game</h1>

<%= simple_form_for [@current_game, @game_play], :url => user_game_game_play_index_path do |f| %>
    <%= f.input :number_of_players, :as => :select, :collection => (1..16), :include_blank => false %>
    <%= f.input :played_at, :as => :datetime, :default => Time.now %>
    <%= f.submit %>
<% end %>
